@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lora', serif;
}
nav {
  background: #00b812;
  height: 10vh;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 6.25rem;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 1.4rem;
}
nav ul li {
  display: inline-block;
  line-height: 4rem;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
}

a.active,
a:hover {
  border-bottom: 2px solid red;
  transition: 0.1s;
}

.check-btn {
  font-size: 1.5rem;
  color: white;
  float: right;
  line-height: 4rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 1.5rem;
    padding-left: 3.125rem;
  }

  nav ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 810px) {
  nav {
    height: 10vh;
  }
}

@media screen and (max-width: 630px) {
  nav {
    height: 14vh;
  }
  label.logo {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .check-btn {
    display: block;
    font-size: 1rem;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 3.9rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 3.125rem 0;
    line-height: 1.875rem;
  }

  nav ul li a {
    font-size: 1rem;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media screen and (max-width: 390px) {
  nav {
    height: 14vh;
  }

  ul {
    top: 4rem;
  }
}

/* screen and (max-height: 625px) */
